<div style="width: 100%">
  <h2 class="bg-dark text-white p-2, text-center" style="width: 100%">
    Employee List
  </h2>
  <br /><br />
  <div class="form-group" style="width: 35%">
    <label for="start-date">Start Date:</label>
    <input
      type="date"
      id="start-date"
      name="start-date"
      class="form-control"
      [(ngModel)]="startDate"
      (change)="formatStartDate($event)"
    />
  </div>

  <div class="form-group" style="width: 35%">
    <label for="end-date">End Date:</label>
    <input
      type="date"
      id="end-date"
      name="end-date"
      class="form-control"
      [(ngModel)]="endDate"
      (change)="formatEndDate($event)"
    />
  </div>

  <button class="btn btn-primary" (click)="search()">Search</button>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>S.No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Date of Joining</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let employee of filteredEmployees ? filteredEmployees : employees;
          let i = index
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.dateOfJoin }}</td>
        <td>
          <button
            (click)="view(employee.id)"
            class="btn btn-info"
            style="margin-left: 10px"
          >
            View
          </button>
          &nbsp; &nbsp;
          <button
            (click)="updateDocumnet(employee.id)"
            class="btn btn-primary"
            style="margin-left: 10px"
          >
            Upload Documnet
          </button>
          &nbsp; &nbsp;
          <button (click)="update(employee.id)" class="btn btn-primary">
            Update
          </button>
          &nbsp; &nbsp;
          <button
            (click)="onConfirm(employee.id)"
            class="btn btn-danger"
            style="margin-left: 10px"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
