<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="fileUpload">
        <h2>File Upload</h2>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <button
          class="btn btn-primary"
          [disabled]="!selectedFiles || admincheck || status"
          (click)="upload()"
        >
          Save File
        </button>
        <button
          class="btn btn-primary"
          style="margin-left: 10px"
          (click)="downloadFile()"
        >
          View File
        </button>
      </form>
    </div>
  </div>
</div> -->
