<form #skillForm="ngForm" class="container mt-3" (ngSubmit)="Onsubmit()">
  <div class="row justify-content-center">
    <div class="col-6">
      <section
        class="container border mb-4 p-3 form-control"
        *ngFor="let skill of skills; let i = index"
      >
        <span style="float: right">
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="removeSkill(i)"
          >
            Remove
          </button>
        </span>
        <div class="row col-6">
          <h4>skill {{ i + 1 }}</h4>
        </div>
        <div class="row form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="skill.name"
            name="skill{{ skill.id }}"
            placeholder="Skill Name"
          />
        </div>
      </section>
      <button
        type="button"
        class="btn btn-primary mb-2"
        (click)="addSkill($event)"
      >
        Add Skill
      </button>
      <div class="text-right">
        <input type="submit" class="btn btn-success" value="Submit Skill" />
      </div>
    </div>
  </div>
</form>
